<?xml version="1.0"?>
<config>
	<modules>
		<Ameex_EasyStorecreation>
			<version>1.0.0</version>
		</Ameex_EasyStorecreation>
	</modules>
	<frontend>
		<routers>
			<easystorecreation>
				<use>standard</use>
				<args>
					<module>Ameex_EasyStorecreation</module>
					<frontName>easystorecreation</frontName>
				</args>
			</easystorecreation>
		</routers>
	</frontend>
	<global>
		 <events>
            <admin_system_config_changed_section_easystorecreation_options>
                <observers>
                    <easystorecreation>
                        <type>singleton</type>
                        <class>Ameex_EasyStorecreation_Model_Observer</class>
                        <method>handle_adminSystemConfigChangedSection</method>
                    </easystorecreation>
                </observers>
            </admin_system_config_changed_section_easystorecreation_options>
           <admin_system_config_changed_section_easystorecreation_products>
                <observers>
                    <easystorecreationproducts>
                        <type>singleton</type>
                        <class>Ameex_EasyStorecreation_Model_Observer</class>
                        <method>handleproducts_adminSystemConfigChangedSection</method>
                    </easystorecreationproducts>
                </observers>
            </admin_system_config_changed_section_easystorecreation_products>
            <admin_system_config_changed_section_easystorecreation_cms>
                <observers>
                    <easystorecreation_cms>
                        <type>singleton</type>
                        <class>Ameex_EasyStorecreation_Model_Observer</class>
                        <method>handlecms_adminSystemConfigChangedSection</method>
                    </easystorecreation_cms>
                </observers>
            </admin_system_config_changed_section_easystorecreation_cms>
        </events>
		<blocks>
            <easystorecreation>
                <class>Ameex_EasyStorecreation_Block</class>
            </easystorecreation>
        </blocks>
		<helpers>
			<easystorecreation>
			<class>Ameex_EasyStorecreation_Helper</class>
			</easystorecreation>
		</helpers>
		<models>
			<easystorecreation>
			<class>Ameex_EasyStorecreation_Model</class>
			</easystorecreation>
		</models>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<easystorecreation_options>
											<title>EasyStorecreation Configuration</title>
										</easystorecreation_options>
										<easystorecreation_products>
											<title>EasyStorecreation Configuration</title>
										</easystorecreation_products>
										<easystorecreation_cms>
											<title>EasyStorecreation Configuration</title>
										</easystorecreation_cms>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>
